<launch>
             
<!-- What is the name of the file to use? This can be passed into the launch
file. -->
<param name="robot_description" command= "xacro --inorder '$(find Lab4_package)/urdf/robot.xacro'"/>
<arg name = "gui" default = "true"/>

<!-- Run the robot_state_publisher. -->
<node pkg="robot_state_publisher" type="robot_state_publisher"
name="robot_state_publisher" />

<node pkg="joint_state_publisher" type="joint_state_publisher"
name="joint_state_publisher">
  <param name = "use_gui" value="$(arg gui)"/>
</node>

<!-- Run RVIZ and use a specific configuration file. If RVIZ is closed, close
everything. -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find Lab4_package)/config/config.rviz" required="true"/>
</launch>
